* {
  margin: 0;
  padding: 0;
}

$size:31.415px;
h1 {
  font-family: 'sang';
  font-size: $size;
}

@font-face {
  font-family: 'sang';
  font-style: 'normal';
  src: url('../images/GT-America-Standard-Black-Italic.woff2');
}